.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
  column-gap: 12px;
}

.input {
  background-color: white;
  outline: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
  box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.1);
}
.button {
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  font-weight: 500;
  padding: 4px 8px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 640px) {
  .form {
    flex-direction: row;
    row-gap: 8px;
  }
  .input {
    padding: 4px 8px;
    width: calc(2 / 3 * 100%);
  }
  .button {
    width: calc(1 / 3 * 100%);
  }
}
